.img1
{
	width: 100%;
}

.bg-op-red
{
	background-color: #ff0000;
	color: #fff;
}
.bg-op
{
	opacity: 0.5;
	background-color: #fff;
}

 .font
 {
   font-size: 80px;

 }

.bt
{
	border-radius: 10px;
}



.mid-data
{
  width: 70%;
  font-size: 14px;
}


.centerd
{
	position: absolute;
	top: 31%;
	
	transform: translate(0%, 0%);
}

.centerd p
{
   font-size: 26px;
   padding-top: 40px;
   width: 45%;
   margin-left: 300px;
}

.card-data
{
	font-size: 13px;
	padding-left: 15px;
	padding-right: 15px;

}

.logo
{
	width: 55%;

}

.logo-div
{
	
}

.icon
{
	padding-left: 30px;
	width: 25%;
}

.icon p
{
	font-size: 13px;
	padding-left: 26px;
	padding-right: 20px; 
}

.Limg
{
	width: 90%;
}

.tdata h3
{
  font-size: 40px;
}

.tdata p
{
	font-size: 15px;
	width: 80%;
}
.foter
{
	font-size: 13px;
	width: 60%;
}
.img_w_t
{
	min-width: 370px;
}

.brbr
{
	border-bottom: 2px solid rgba(255,255,255,0.3);
	padding :20px;

}

.top-div
{
   height: 400px;  
}

.center-font
{
	top:40%;
}

.menu-bar
{
	z-index: 1;
}
.custom-nav
{
	width: 90%;
	margin: auto;

}
.custom-nav .navbar
{
	position: absolute;
	z-index: 1;
}

.cust
{
	padding: 0;
	margin :0;

}
.cust div
{
	padding: 0;
}